form.js-hack-hidden-form(
  method="POST"
  action="https://lds.io/api/oauth3/authorization_decision"
)
  //- TODO auto-update on change
  input(type="hidden" name="access_token" ng-value="ADC.selectedAccount.token")
  input(type="hidden" name="transaction_id" ng-value="ADC.transactionId")
  input(type="hidden" name="accepted_scope" ng-value="ADC.acceptedString")
  input(type="hidden" name="granted_scope" ng-value="ADC.grantedString")
  input(type="hidden" name="pending_scope" ng-value="ADC.pendingString")
  input(ng-if="ADC.cancelHack" type="hidden" name="cancel" ng-value="'true'")
  input(type="hidden" name="selected_account_id" ng-value="ADC.selectedAccountId")

.authorization-dialog
  .authorization-card
    //- this needs to actually POST so that it can issue the redirect immediately
    div.form-horizontal
      div(ng-if="ADC.error.message")
        .alert.alert-danger {{ ADC.error.message }}
        .alert.alert-danger
          pre
            code {{ ADC.rawResponse | json }}
      div(ng-if="ADC.invalids.length")
        .alert.alert-danger
          span The application provided invalid scope.
          ul
            li(ng-repeat="invalid in ADC.invalids")
              pre
                code {{ invalid | json }}

      .form-group.mar0
        div.agents
          .col-xs-6.agent
            img(ng-src="{{ ADC.account.photo || '/images/avatar-64px.png' }}")
            span {{ ADC.account.name || 'Fetching User...' }}

          .col-xs-6.agent
            img(ng-src="{{ ADC.client.logo || '/images/app-icon-64px.png' }}")
            span {{ ADC.client.title || 'Fetching App...' }}


        select.form-control.choose-account(
          ng-model="ADC.account"
          ng-options="acc as acc.name for acc in ADC.accounts"
          ng-change="ADC.chooseAccount(ADC.account)"
          ng-if="ADC.accounts.length >= 2"
        )
        div(ng-if="ADC.client")
          div(ng-if="ADC.grantedScope.length || ADC.pendingScope.length")
            div.permission-request
              | You'll love&#32;
              span.app-name {{ ADC.client.title || "App Name" }}
              br 
              | &#32; because it can help you...
              ul.permission-list
                .checkbox(ng-repeat="scope in ADC.grantedScope")
                  label
                    input(
                      checked="checked"
                      disabled="disabled"
                      type="checkbox"
                    )
                    | {{ scope.desc || scope.name }}
                .checkbox(ng-repeat="scope in ADC.pendingScope")
                  label
                    input(
                      ng-change="ADC.updateScope()"
                      ng-model="scope.accepted"
                      ng-disabled="scope.submitting || !scope.acceptable"
                      type="checkbox"
                    )
                    | {{ scope.desc || scope.name }}

          div(ng-if="!ADC.requestedString.length && !ADC.grantedString.length")
            div.permission-request
              span You can sign in to &#32;
              span.app-name {{ ADC.client.title || "App Name" }}.
              br
              span No member data will be shared.

        div(ng-if="!ADC.client")
          div.permission-request
            span Checking Permissions...

        .col-xs-12(ng-if="ADC.iframe")
          .alert.alert-danger
            p To prevent click-jacking the user may not interact with the authorize dialog in an iFrame.
            p If you supply no scope, or the scope has already been granted, you will receive a token.
            p Otherwise the error callback will be called.

        form.form-group.actions(ng-show="!ADC.iframe")
          button.js-hack-reject.btn.btn-default(
            type="button"
            ng-click="ADC.hackFormSubmit({ allow: false })"
            ng-disabled="ADC.submitting || !ADC.account || !ADC.client || ADC.invalids.length || ADC.error"
          ) Reject
          button.js-hack-allow.btn.btn-primary(
            type="button"
            ng-click="ADC.hackFormSubmit({ allow: true })"
            ng-disabled="ADC.submitting || !ADC.account || !ADC.client || ADC.invalids.length || ADC.error"
          ) Yes, Allow
        div
          br
        div
          br
        div
          br
        div
          small.help-block
            span * In accordance with the LDS.org Privacy Policy, apps may <strong>not</strong>
            span &#32; store any member data. The data is delivered directly to your browser only.
            br
            br
            span If you believe an app is violating this policy, please report it to &#32;
            a(href="mailto:abuse@ldsconnect.org") abuse@ldsconnect.org
            span .
